html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    background-color: lightgoldenrodyellow;
    margin: 0;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
}

.titleContainer {
    display: flex;
    align-items: center;
}

h2 {
    margin: 0;
}

.container {
    background-color: #FCD7AD;
    padding: 20px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
    justify-content: center; 
}

.bookCardStyle {
    border-radius: 15px;
    background-color: lightpink;
    border: none;
    display: flex;
    flex-direction: column;
    /* max-height: fit-content; */
    max-height: 100%;
    padding: 10px;
    justify-content: space-evenly;
}

.bookCardStyle p {
    margin: 0;
}

footer {
    padding: 25px 100px;
    display: flex;
    justify-content: center;
    background-color: lightgoldenrodyellow;
}

footer p {
    margin: 0;
}

#openDialogBtn {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 10px;
    background-color: #F6C28B;
    padding: 13px
}

#openDialogBtn img {
    height: 25px;
    width: 25px;
}

#addButtonStyle:hover {
    background-color: goldenrod;
}

#closeDialogBtn {
    height: 20px;
    width: 20px;
    padding: 2px;
}

/* ****** DIALOG FORM STYLING  ****** */
dialog::backdrop {
    background-image: linear-gradient(
      45deg,
      lightpink,
      goldenrod,
      goldenrod,
      lightpink
    );
    opacity: 0.75;
}

form {
    display: grid;
    grid-gap: 10px;
}

form h3 {
    margin: 20px 0px 10px;
}

form div {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    padding: 0;
}

#submitBtn {
    margin: 10px 0px 10px;
}
