html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h2 {
    background-color: lightgoldenrodyellow;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #FCD7AD;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    grid-gap: 15px;
    justify-content: center; 
}

.bookCardStyle {
    border-radius: 15px;
    background-color: lightpink;
    border: none;
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    padding: 10px;
}

footer {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    background-color: lightgoldenrodyellow;
}

#addButtonStyle {
    height: 100px;
    width: 150px;
    border: none;
    border-radius: 10px;
    background-color: #F6C28B;
    font-weight: bold;
}

#addButtonStyle:hover {
    background-color: goldenrod;
}

/* ****** DIALOG FORM STYLING  ****** */
dialog::backdrop {
    background-image: linear-gradient(
      45deg,
      lightpink,
      goldenrod,
      goldenrod,
      lightpink
    );
    opacity: 0.75;
}

form {
    display: grid;
    grid-gap: 10px;
}

form div {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    padding: 0;
}
